<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Toolbox</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">  
                    <h3>OOP Languages</h3>
                    <p class="text-muted">Right tool for the right job</p> 
                    <%= image_tag "creative/badges/js.jpg", class: "mylinks_badges", alt: "" %>
                    <%= image_tag "creative/badges/ruby.jpg", class: "mylinks_badges", alt: "" %>
                    <%= image_tag "creative/badges/python.jpg", class: "mylinks_badges", alt: "" %>                   
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">                   
                    <h3>Frameworks</h3>
                    <p class="text-muted">Each have their strengths</p>
                    <%= image_tag "creative/badges/django.png", class: "mylinks_badges", alt: "" %>
                    <%= image_tag "creative/badges/MEAN-Icon.png", class: "mylinks_badges", alt: "" %>
                    <%= image_tag "creative/badges/flask.png", class: "mylinks_badges", alt: "" %>
                    <%= image_tag "creative/badges/images-1.png", class: "mylinks_badges", alt: "" %>                    
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">               
                    <h3>Databases</h3>
                    <p class="text-muted">Relational or non-relational</p>
                    <%= image_tag "creative/badges/postgres.png", class: "mylinks_badges", alt: "" %>
                    <%= image_tag "creative/badges/mysql.png", class: "mylinks_badges", alt: "" %>
                    <%= image_tag "creative/badges/sqlite.jpg", class: "mylinks_badges", alt: "" %>
                    <%= image_tag "creative/badges/mongo.jpg", class: "mylinks_badges", alt: "" %>                    
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">                   
                    <h3>Other</h3>
                    <p class="text-muted">All the other bits and pieces</p>
                    <%= image_tag "creative/badges/download.png", class: "mylinks_badges", alt: "" %>
                    <%= image_tag "creative/badges/images.png", class: "mylinks_badges", alt: "" %>
                    <%= image_tag "creative/badges/download-1.png", class: "mylinks_badges", alt: "" %>
                    <%= image_tag "creative/badges/responsive.png", class: "mylinks_badges", alt: "" %>
                    <%= image_tag "creative/badges/aws.png", class: "mylinks_badges", alt: "" %>
                </div>
            </div>
        </div>
    </div>
</section>

